{% extends('books.base.html.twig') %}

{% block title %}
    Auteur : {{ author.firstName }} {{ author.name }}
{% endblock %}

{% block main %}
    <section class="author">
            <article class="show">
                <header>
                <h2>Auteur : {{ author.firstName }} {{ author.name }}</h2>
                </header>
                <p>Né le {{ author.birthDate |date('d-m-Y') }}
                {% if author.deathDate %}
                et décédé le {{ author.deathDate | date('d-m-Y') }}
                {% endif %}
                </p>
                <p class="bio">{{ author.biography }}</p>
                <a href="{{ path('books') }}" class="bouton">Retour aux livres</a>
            </article>
            <article class="show">
                <header>
                    <h2>Livres associés :</h2>
                </header>
                <ul class="assoc">
                    {% set i = 0 %}
                    {% for livre in books %}
                        <a href="{{ path('book', {'id':livre.id}) }}" > <li {% if (i % 2 != 0) %}class="gris"{% endif %}>{{ livre.title }}</li></a>
                        {% set i = i + 1 %}
                    {% endfor %}
                </ul>
            </article>
    </section>
{% endblock %}
