{% extends('books.base.html.twig') %}

{% block main %}
    <section class="books">
        {% for book in books %}
            <article class="liste">
                <div class="content">
                <header>
                <h2>{{ book.title }}</h2>
                <h4>Ecrit par {{ book.author.firstName }} {{ book.author.name }}</h4>
                <a href="{{ path('book', {'id':book.id}) }}" class="lien2">En savoir plus</a>
                </div>
            </article>
        {% endfor %}
    </section>
   <p style="text-align: center">Filtrer par genre : <a href="{{ path('books_by_style', {'style':'bd'}) }}">BD</a> <a href="{{ path('books_by_style', {'style':'roman'}) }}">ROMANS</a> <a href="{{ path('books_by_style', {'style':'fiction'}) }}">FICTION</a></p>
{% endblock %}
