{% extends('books.base.html.twig') %}

{% block title %}
{{ style }}
{% endblock %}


{% block main %}
    <h2 style="text-align: center">
            Livre{% if books | length > 1 %}s{% endif %}
        du genre : {{ style }}
    </h2>
    <section class="books">
        {% for book in books %}
            <article class="liste">
                <div class="content">
                <header>
                <h2>{{ book.title }}</h2>
                <h4>Ecrit par {{ book.author.firstName }} {{ book.author.name }}</h4>
                <a href="{{ path('book', {'id':book.id}) }}">En savoir plus</a>
                </div>
            </article>
        {% endfor %}
    </section>
    <p style="text-align: center"><a href="{{ path('books') }}">Retour aux livres</a></p>
{% endblock %}
