{% extends ('books.base.html.twig') %}


{% block main %}
    <p class="alert">{% if message %}{{ message }}{% endif %}</p>
    <section class="manage">
        <table>
            <caption>Les auteurs</caption>
            <thead>
            <tr>
                <th>nom</th>
                <th>prénom</th>
                <th>biographie</th>
                <th>birthdate</th>
                <th>deathdate</th>
                <th>nombres de livres</th>
                <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            {% set i = 0 %}
            {% for author in authors %}
            <tr {% if (i % 2 != 0) %} class="grey" {% endif %}>
                <td>{{ author.name }}</td>
                <td>{{ author.firstName }}</td>
                <td>{{ author.biography | slice(0,25) }} [...]</td>
                <td>{{ author.birthDate | date('d-m-Y') }}</td>
                <td>{% if author.deathDate %}{{ author.deathDate | date('d-m-Y') }}{% endif %}</td>
                <td>{{ author.books | length }}</td>
                <td><a href="{{ path('admin_update_author', {'id':author.id}) }}">Modifier</a></td>
                <td><a href="{{ path('admin_delete_author', {'id':author.id}) }}">Suppr.</a></td>
                <td><a href="{{ path('author', {'id':author.id}) }}">Voir</a></td>
            </tr>
                {% set i = i + 1 %}
            {% endfor %}
            <tr>
                <td  colspan="9"><a href="{{ path('admin_add_author') }}">Ajouter un auteur</a></td>
            </tr>
            </tbody>
        </table>

        <table>
            <caption>Les livres</caption>
            <thead>
            <tr>
                <th>Titre</th>
                <th>style</th>
                <th>nb pages</th>
                <th>en stock</th>
                <th>image</th>
                <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            {% set i = 0 %}
            {% for book in books %}
                <tr {% if (i % 2 != 0) %} class="grey" {% endif %}>
                    <td><strong>{{ book.title }}</strong></td>
                    <td>{{ book.style }}</td>
                    <td>{{ book.nbPages }}</td>
                    {% if book.inStock %}<td class="OK">oui{% else %}<td class="NO">non{% endif %}</td>
                    <td><a href="{% if book.image %}{{ asset('assets/img/'~ book.image) }}{% else %}{{ asset('assets/img/new_book.jpg') }}{% endif %}" target="_blank" class="thumb"><img src="{% if book.image %}{{ asset('assets/img/'~ book.image) }}{% else %}{{ asset('assets/img/new_book.jpg') }}{% endif %}" class="fluid" alt=""></a></td>
                    <td><a href="{{ path('admin_update_book', {'id':book.id}) }}">Modifier</a></td>
                    <td><a href="{{ path('admin_delete_book', {'id':book.id}) }}">Suppr.</a></td>
                    <td><a href="{{ path('book', {'id':book.id}) }}">Voir</a></td>
                </tr>
                {% set i = i + 1 %}
            {% endfor %}
            <tr>
                <td colspan="8"><a href="{{ path('admin_add_book') }}">Ajouter un livre</a></td>
            </tr>
            </tbody>
        </table>
    </section>
{% endblock %}